<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}MaomiHzBot{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='milligram.min.css') }}">
<style>
.container {
  max-width: 80rem;
}
</style>
</head>
<body>
<div class="container">
{% block body %}

{% endblock %}
</div>
</body>
</html>
