{% extends "base.html" %}
{% block body %}

<h1>Setup Webhook</h1>

<form action="/webhook" method="post">
  Web URL (Start with https://):<br>
  <input type="text" name="url" id="url"><br>
  Bot Token:<br>
  <input type="text" name="token" id="token"><br>
  <input class="button" type="submit" value="Submit">
</form>

<p>Webhook URL: <span id="prompt"></span></p>

<script>
  var url_box = document.getElementById("url")
  var token_box = document.getElementById("token")

  if (url_box.value == "") {
    var protocol = window.location.protocol
    var hostname = window.location.hostname
    var pathname = window.location.pathname
    var path = pathname.substring(0, pathname.lastIndexOf("/") + 1)
      url_box.value = protocol + '//' + hostname + path;
  }

  function join_address() {
    if (url_box.value.substring(url_box.value.length - 1, url_box.value.length) != "/") {
      url = url + "/";
    }
    document.getElementById("prompt").innerHTML = url_box.value + "bot" + token_box.value;
  }

  url_box.addEventListener("keyup", join_address);
  token_box.addEventListener("keyup", join_address);
</script>
{% endblock %}
